<%= render "home/header" %>
<div class="row">
<div class="white-container col-xs-12">
	<h1>Work experience and positions of trust</h1>
</div>

<!--Nilex-->
<div class="container white-container col-xs-12">
	<h3>Developer at Nilex | Summer 2014</h3>
	<p><%= link_to("Nilex", "http://www.nilex.se/", :class => "bold") %> is a producer of service management systems. Over the summer I worked as an Android developer, developer of coded UI tests in Visual Studio and performed regular tests on to the web application. This was a great experience for me to understand how to work with such a large-scale system and improving my Android development skills, C# skills, learning TFS for revision control and also how to use Json for communication between server and mobile device.</p>
	<div style="text-align: center;">
	  <%= image_tag('nilex.png', :class => "img-responsive", :style => "max-height: 110px; display:inline;") %>
	</div>
</div>


<!--Lundakarnevalen-->
<div class="container white-container col-xs-12">
	<h3>Web developer for Lundakarnevalen | Spring 2014</h3>
	<p><%= link_to("Lundakarnevalen", "http://www.lundakarnevalen.se/", :class => "bold") %> is a recurring carneval in Lund produced by students at the university, it is probably the biggest event in Lund. During this project I learned a lot about Ruby on Rails. It was my first project developing for a large scale website. For me this was mostly back-end development which was a good learning experience. My main contribution was in developing a warehouse and order system. Tools used were Ruby on Rails web framework, Twitter Bootstrap for visuals, Git for revision control, Heroku for deployment where a Unicorn web server was running and an SQLite database. I have borrowed some of the css used in this project for my own website.</p>
	<div style="text-align: center;">
	  <%= image_tag('karnevalist.png', :class => "img-responsive", :style => "max-height: 400px; display:inline;") %>
	</div>
</div>



<!--Teknikfokus-->
<div class="container white-container col-xs-12">
	<h3>Head of marketing at Teknikfokus | Autumn 2014 - Winter 2015</h3>
	<p><%= link_to("Teknikfokus", "http://www.teknikfokus.se", :class => "bold") %> is a well-known job fair at Lund faculty of Engineering. I was head of marketing in the project group and created visual content in the form of flyers, posters, business cards and more. This project gave me great experience in handling contacts with companies in the IT business and improved my skills in Adobe Photoshop and Adobe Illustrator. </p>
	<div style="text-align: center;">
	  <%= image_tag('Teknikfokus.jpg', :class => "img-responsive", :style => "max-height: 400px; display:inline;") %>
	</div>
</div>
</div>
<%= render "home/footer" %>