<div class="row">
  <%= mail_to "felixhedlund@me.com" do %>
  <div class="col-md-4 mail-white"><%= image_tag('M_icon.svg', :class => "icon") %></div>
  <% end %>
  <%= link_to "https://www.linkedin.com/pub/felix-hedlund/59/833/1b9" do%>
  <div class="col-md-4 linkedin-blue"><%= image_tag('L_icon.svg', :class => "icon") %></div>
  <% end %>
  <%= link_to "http://instagram.com/hardyfelix" do %>
  <div class="col-md-4 insta-brown"><%= image_tag('I_icon.svg', :class => "icon") %></div>
  <% end %>
</div>

<div class="row">
<div class="footer">
	<p class="footer-button">Design makes perfection</p>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42622503-2', 'http://www.felixhedlund.com');
  ga('send', 'pageview');

</script>
</div>
