<%= render "home/header" %>
<div class="row">
<div class="white-container col-xs-12">
	<h1>Contact</h1>
	<p>Felix Hedlund</p>
	<p>Råbyvägen 15K LGH 1303</p>
	<p>22457 LUND</p>
</div>
</div>
<div class="row">
  <div class="col-md-4 white"><%= image_tag('M_icon.svg', :class => "icon") %></div>
  <div class="col-md-4 blue"><%= image_tag('F_icon.svg', :class => "icon") %></div>
  <div class="col-md-4 brown"><%= image_tag('I_icon.svg', :class => "icon") %></div>
</div>
<%= render "home/footer" %>