<%= render "home/header" %>
<div class="row">
<div class="white-container col-xs-12">
	<h1>Projects</h1>
</div>

<!-- Swimulator -->
<div class="container white-container col-xs-12">
	<h3>Swimulator - Unity, Oculus & Kinect | Spring 2015</h3>
	<p>In this project I learned how to develop a game in Unity using Oculus Rift and Microsoft Kinect. In this game you swim around inside a giant aquarium collecting hidden treasures. Kinect will track your swimming motions and you swim in the direction you are looking at in the Oculus. The game is free for download on the <%= link_to("Oculus", "https://share.oculus.com/app/swimulator---aquarium", :class => "bold") %> website and at <%= link_to("WEARVR", "https://www.wearvr.com/apps/swimulator__aquarium", :class => "bold") %>. :)</p>
	<div style="text-align: center;">
	  <%= image_tag('Swimulator.png', :class => "img-responsive", :style => "max-height: 500px; display:inline;") %>
	</div>
	<div class="video-container">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="//www.youtube.com/embed/L0GHKLwcpgw" allowfullscreen></iframe>
		</div>
	</div>
</div>


<!-- Game for iOS -->
<div class="container white-container col-xs-12">
	<h3>Game for iOS (Available on App Store) | Spring 2015</h3>

	<!--<div style="text-align: center;">
	  <%= image_tag('Spheres.png', :class => "img-responsive", :style => "max-height: 400px; display:inline;") %>
	</div> -->

	<p>For a project course in school (MAM032: Working Environment, Project) I have developed a casual gaming style app for iOS. I have learned how to develop using Xcode and Swift, I really like it compared to my earlier experiences developing for Android. I created all images in the game using Illustrator and Photoshop. The app is now available for free on <%= link_to("App Store", "https://appsto.re/se/-yV-6.i", :class => "bold") %> (quite buggy on iOS 9 until Apple approves the updated version) :)</p>

	<div class="video-container">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="//www.youtube.com/embed/tcipBR2svrI" allowfullscreen></iframe>
		</div>
	</div>
</div>


<!--Antagningsprov KMH-->
<div class="container white-container col-xs-12">
	<h3>Digitalized admission test | Autumn 2014</h3>
	<p>This is a project ordered from the <%= link_to("Royal College of Music", "http://www.kmh.se/", :class => "bold") %> in Stockholm for our courses in Interaction 1: Neuro modelling, Cognitive Robotics and Agents and Interaction 2: Virtuality and Cognitive Modelling. We were a team of five people looking into how to digitalize an admission test. Difficulties were how to input notes, chords and other music related things without making it too complicated for us to implement. In this project I developed loads of prototypes, made a lot of decisions regarding usability and some front-end programming.</p>
	<div class="video-container">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="//www.youtube.com/embed/ki_pOiPZIu8" allowfullscreen></iframe>
		</div>
	</div>
</div>

<!--Felix Hedlund-->
<div class="container white-container col-xs-12">
	<h3>My website | Autumn 2014</h3>
	<p>After I started looking into what I wanted to do for my degree project I realised that I needed a portal to showcase some projects I have participated in. For more information go to <%= link_to('About this website', about_path, :class => "bold") %></p>
	<div style="text-align: center;">
	  <%= image_tag('FelixHedlund.png', :class => "img-responsive", :style => "max-height: 400px; display:inline;") %>
	</div>
</div>

<!--Webshop-->
<div class="container white-container col-xs-12">
	<h3>Web shop | Autumn 2014</h3>
	<p>For the course in web security I was the project leader in a project where we were to develop a <u>fictional</u> web shop in php. The main objective was to take in consideration as many security issues as possible while developing the site. We used PHP, Bootstrap, Git and a MySQL database on an Apache server. </p>
	<div style="text-align: center;">
	  <%= image_tag('webshop.png', :class => "img-responsive", :style => "max-height: 400px; display:inline;") %>
	</div>
</div>

<!--Selfie App-->
<div class="white-container col-xs-12">
	<h3>The selfie app for android | Spring 2014</h3>
	<p>My first encounter with Android development was in this course called Advanced Interaction Design. The course itself was designed for us students to explore ways of communicating with a mobile device. I was in charge of all design decisions and implementations as well as creating the images used in the app. I created the content using Adobe Illustrator and Adobe Photoshop.  </p>

	<div class="video-container">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="//www.youtube.com/embed/8ZmMSqBrdWE" allowfullscreen></iframe>
		</div>
	</div>
</div>

<!--Python-->
<div class="white-container col-xs-12">
	<h3>Labyrinth game in Python | Summer 2013</h3>
	<p>I took a summer course in Multimedia programming in Python. The design isn't great obviously but it was a nice experience to learn a bit about game development!</p>

	<div class="video-container">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="//www.youtube.com/embed/249uaZc3ZX8" allowfullscreen></iframe>
		</div>
	</div>
</div>

<!--SÅngarstriden-->
<div class="white-container col-xs-12">
	<h3>Competition in music - D-guild | Autumn 2012</h3>
		<p>Every year the student guilds at LTH take part in a music competition called Sångarstriden. I had the main responsibility for our guild's acts this year. To organize everything from creating posters to manage auditions and hold choir practises was a great learning experience for me.</p>
	<div style="text-align: center;">
	  <%= image_tag('poster.jpg', :class => "img-responsive", :style => "max-height: 400px; display:inline;") %>
	</div>
</div>

</div>
<%= render "home/footer" %>