<%= render "home/header" %>
<div class="row">
<div class="white-container col-xs-12">
	<h1>Projects</h1>
</div>

<!--Webshop-->
<div class="container white-container col-xs-12">
	<h3>Web shop</h3>
	<p>For the course in web security I was the project leader in a project where we were to develop a fictional web shop. The main objective was to take in consideration as many security issues as possible while developing the site. We used php, bootstrap and a MySQL database on an Apache server. </p>
	<div style="text-align: center;">
	  <%= image_tag('webshop.png', :class => "img-responsive", :style => "max-height: 300px; display:inline;") %>
	</div>
</div>

<!--Nilex-->
<div class="container white-container col-xs-12">
	<h3>Developer at Nilex</h3>
	<p><%= link_to("Nilex", "http://www.nilex.se/", :class => "bold") %> is a producer of service management systems. Over the summer I worked as an Android developer, developer of coded UI tests in Visual Studio and performed regular tests on to the web application. This was a great experience for me to understand how to work with such a large-scale system and improving my Android development skills.</p>
	<div style="text-align: center;">
	  <%= image_tag('nilex.png', :class => "img-responsive", :style => "max-height: 110px; display:inline;") %>
	</div>
</div>


<!--Lundakarnevalen-->
<div class="container white-container col-xs-12">
	<h3>Web developer for Lundakarnevalen</h3>
	<p><%= link_to("Lundakarnevalen", "http://www.lundakarnevalen.se/", :class => "bold") %> is a recurring carneval in Lund produced by students at the university, it is probably the biggest event in Lund. During this project I learned a lot about Ruby on Rails. It was my first project developing for a large scale website. For me this was mostly back-end development which was a good learning experience. My main contribution was in developing a warehouse and order system. Tools used were Ruby on Rails development environment, Twitter Bootstrap for visuals, Heroku for deployment where a Unicorn web server was running and an SQLite database was used. I have borrowed some of the css used in this project for my own website.</p>
	<div style="text-align: center;">
	  <%= image_tag('karnevalist.png', :class => "img-responsive", :style => "max-height: 300px; display:inline;") %>
	</div>


</div>



<!--Selfie App-->
<div class="white-container col-xs-12">
	<h3>The selfie app for android</h3>
	<p>My first encounter with Android development was in this course called Advanced Interaction Design. The course itself was designed for us students to explore ways of communicating with a mobile device. I was in charge of all design decisions and implementations as well as creating the images used in the app. I created the content using Adobe Illustrator and Adobe Photoshop.  </p>

	<div class="video-container">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="//www.youtube.com/embed/8ZmMSqBrdWE" allowfullscreen></iframe>
		</div>
	</div>
	
</div>
</div>
<%= render "home/footer" %>